---
title: Categories
layout: base.ejs
pagination:
    data: categories
    size: 1
    alias: category
permalink: /categories/<%=pagination.items%>/index.html
---

<h1>This is <%=pagination.items%> page</h1>