---
title: Intromech
layout: base.ejs
---


<img class="landing-img" src="<%=landing.image%>" alt="<%=landing.name%>">


<div class="row text-center message">
    <div class="col-md-12">
        <h1><%=landing.message%></h1>
        <a href="/blog" class="btn btn-primary">View Blog</a>
    </div>
</div>