---
title: Intromech
layout: base.ejs
---


<img class="landing-img" src="/img/landing.jpg" alt="landing image">
<div class="row text-center message">
    <div class="col-md-12">
        <h1>This is the landing page</h1>
        <a href="/blog" class="btn btn-primary">View Blog</a>
    </div>
</div>